PORT=8000
RPC_URL=https://dream-rpc.somnia.network
PRIVATE_KEY=
HUGGINGFACE_API_KEY=
HUGGINGFACE_MODEL=Qwen/Qwen3-32B

DUTCH_AUCTION_ADDRESS=0xefc0C84206855A6319ceF167f4a8B734810e13d9
DATA_PROVIDER_ADDRESS=0x4D3047514E146f41033071e81F25A01eB016f762
SERVICE_REGISTRY_ADDRESS=

AUCTION_CLOCK_GAS_LIMIT=5000000
CONSUMER_HANDLER_GAS_LIMIT=5000000
CONSUMER_SUBSCRIPTION_RESERVE_WEI=32000000000000000000
WEB_URL=http://localhost:3000
